
body, html {
	height: 100%;
  }

.backgroundimage{
	background-image: url('images/background.jpg');
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.header-one{
	letter-spacing: 3px;
	color: #424044;
	font-family: Helvetica, sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	line-height: 1;
	background: rgb(204,204,204);
	background: rgba(204,204,204, 0.75);
	margin-left: 500px;
	margin-right: 500px;

}

.header-one h2{
	font-size: 1vw;
}

.header-one h1{
	font-size: 55px;
}


.about h3{
	color: black;
	font-size: 40px;
	text-align: center;
	
}

.about p{
	padding-left: 100px;
	padding-right: 100px;
	color: black;
	font-size: 15px;
	text-align: left;
}


.about{
	background: rgb(204,204,204);
	background: rgba(204,204,204, 0.87);
	margin-left: 500px;
	margin-right: 500px;
	padding: 2px;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.address {
	background: rgb(204,204,204);
	background: rgba(204,204,204, 1);
	text-align: center;
	margin-top: 10px;
}

body{
	margin: 0;
	padding-left: 0px;
	padding-right: 0px;
}


}
h1{
	text-align: center;
}

h3 {
	text-align: center;
}

.container-1{
	display:flex;
}

A {
	text-decoration: none;
	color: black;
}

.container-1 div{
	border: 1px ##11c6c5;
	padding: 10px;
	margin: 10px;
	width: 50px
}

.location h3 {
	font-weight: bold;

}

button {
	background-color: rgba(82,82,82, .5);
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin-left: 260px;
  }

  button:hover{
	  background-color: #797979;
  }